
/*geral*/
.App{
  width: 100%;
  height: 100%;
  background-color: rgb(36, 33, 47);
}
/*geral*/

/*Header*/
.header{
  display: flex;
  padding: 2% 0;
  align-items: center;
  justify-content: right;
}

.header h2{
  width:80%;
  margin-left: 5%;
  font-size: 32px;
  justify-content: center;
}

.header a{
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.header h2 strong{
  color: #F29C12;
}

.search-bar{
  width: auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  margin-right: 5%;
  background-color: rgb(24, 23, 28);
  border-radius: 20px;
}

.search-bar form{
  display: flex;
  gap: 5px;
}

.search-bar input[type=text]{
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
  background-color: rgb(36, 33, 47);
  color: rgb(182, 182, 182);
}

.search-bar input[type=text]::placeholder{
  color: rgb(182, 182, 182);
  opacity: 1;
}

.search-bar button{
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  width: 35px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
/*Header*/

/*Home-Page&&Side-Bar*/
.container-main{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar{
  display: inline-block;
  vertical-align: top;
  height:auto;
  width: 15%;
  overflow: auto;
  background-color: violet;
  border-right: 3px solid rgb(24, 23, 28);
  border-top: 3px solid rgb(24, 23, 28);
}

.main-content{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 75%;
  margin-right: 5%;
  overflow: auto;
}
/*Home-Page&&Side-Bar*/

/*AnimeCard*/
.anime-card{
  display: flex;
  position: relative;
  width: 73.8vw;
  max-height: 200px;
  margin-bottom: 20px;
  background-color: #313131;
  border-top: 6px solid #F29C12;
  border-radius: 19px;
}

.anime-card img{
  border-radius: 18px;
}

.anime-info{
  display: flex;
  flex-direction: column;
}

.anime-info p{
  padding: 20px;
  font-size: 24px;
  border-top: 1px solid #F29C12;
  color: white;
}


.button-details a::before{
  content: "+";
  font-size: 28px;
  color:#313131;
  font-weight: 700;
  overflow: hidden;
  width: 3%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border-radius: 0px 10px 10px 0px;
  background-color: #F29C12;
  transition: .6s;
  text-decoration: none;
}

.button-details a:hover:before{
  width: 10%;
  content: "+Details";
}

/*AnimeCard*/

/*Search*/
.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 26px;
  color: #fff;
  margin-bottom: 32px;
}

.title span{
  color: #F29C12;
  font-style: italic;
}
/*Search*/